* {
    font-family: 'Lato', sans-serif;
}

header,
footer {
    background-color: #F8E475;
}

.navbar a,
.navbar a i {
    color: #333333;
    text-decoration: none;
}

#home {
    background-image: linear-gradient(#F8E475, #F4DD5B);
}

#saudacao h3,
#sobre h3,
#descricao h3,
#personas h3,
#processos h3 {
    font-size: 48px;
    font-weight: 300;
}

#saudacao img {
    width: 54px;
    height: 54px;
}

#descricao h1,
#projetos h1,
#artigos h1,
#sobre h1,
#problema h1,
#benchmarking h1,
#personas h1,
#processos h1,
#resultados h1 {
    font-size: 72px;
    font-weight: 900;
}

#descricao h2 {
    font-size: 64px;
    font-weight: 300;
}

#botao button {
    background-color: transparent;
    width: 335px;
    min-height: 90px;
    font-size: 36px;
    font-weight: bold;
}

#projetos .card .card-header,
#veja-tambem .card .card-header {
    font-size: 32px;
    font-weight: 500;
    background-color: #EEEEEE;
}

#projetos .card .card-body,
#artigos .card .card-body {
    font-size: 22px;
    font-weight: 300;
}

#projetos .card .card-tags p,
#veja-tambem .card .card-tags p {
    font-size: 20px;
    font-weight: 300;
    white-space: nowrap;
    background-color: #EEEEEE;
}

#projetos .card .card-footer .btn,
#artigos .card .card-footer .btn,
#veja-tambem .card .card-footer .btn {
    font-size: 24px;
    font-weight: 300;
    color: #000;
    background-color: #F8E475;
}

#artigos {
    background-color: #EEEEEE;
}

#artigos .card .card-body h4 {
    font-size: 32px;
    font-weight: 500;
}

#artigos .card .card-body img {
    max-width: 90%;
}

#artigos .card .card-footer {
    background-color: #fff;
    border-top: none;;
}

#sobre p {
    font-size: 24px;
    font-weight: 300;
}

#sobre p span {
    font-size: 24px;
    font-weight: 700;
}

#sobre li {
    font-size: 24px;
    font-family: Lato;
    font-weight: 300;
    line-height: 36px;
}

#skills p {
    font-size: 24px;
    font-weight: 300;
    white-space: nowrap;
    background-color: #EEEEEE;
    margin-right: 48px;
    text-transform: uppercase;
}

#personas .card {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px #333333;
}

#veja-tambem h1 {
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

.seta i {
    font-size: 160px;
    text-decoration: none;
    color: #333333;
    text-align: center;
}

@media (max-width: 767px) {
    #saudacao h3,
    #sobre h3,
    #descricao h3,
    #personas h3 {
        font-size: 24px;
        font-weight: 300;
    }

    #saudacao img {
        width: 32px;
        height: 32px;
    }

    #descricao h1,
    #projetos h1,
    #artigos h1,
    #sobre h1,
    #problema h1,
    #benchmarking h1,
    #personas h1 {
        font-size: 40px;
        font-weight: 900;
    }

    #descricao h2 {
        font-size: 36px;
        font-weight: 300;
    }

    #coraçoes {
        display: none;
    }

    #benchmarking img,
    #personas img {
        max-width: 90vw;
    }

    .elipse,
    .seta {
        display: none;
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    #benchmarking img,
    #personas img {
        max-width: 90vw;
    }
}